astropy
scipy
matplotlib
scikit-image
scikit-learn

pyyaml
cython

# photutils<1.1 needed for drizzlepac==3.2.1
#photutils==1.0.2
photutils
astroquery
pyregion

# explicit version for gh actions (2.3.5 was causing problems)
#stsci.image==2.3.3
stsci.image

stwcs
# hstcal (only works with conda)
wfc3tools
crds
drizzlepac

shapely
# descartes
git+https://github.com/benjimin/descartes.git
boto3
peakutils
extinction

tqdm

# Needed for template smoothing, doesn't bring whole fsps distro
astro-sedpy
astro-prospector

sep
# git+https://github.com/gbrammer/sep.git

# coord routines work without pyia
#git+https://github.com/gbrammer/pyia.git

git+https://github.com/gbrammer/reprocess_wfc3.git
git+https://github.com/gbrammer/eazy-py.git
# git+https://github.com/gbrammer/sregion.git
sregion>=1.0
git+https://github.com/gbrammer/tristars.git
git+https://github.com/gbrammer/mastquery.git
