# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package for jwst-ero branch

on:
  push:
    branches: [ jwst-ero ]
  pull_request:
    branches: [ jwst-ero ]

jobs:
  build:

    #runs-on: ubuntu-latest
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.8, 3.9, '3.10']
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install wheel
        python -m pip install flake8 pytest numpy cython
        
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
        # To generate version.py and compiled utils_c
        python setup.py build
        cp build/lib*/grizli/utils_c/*so grizli/utils_c/
        
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics --exclude "scripts* build* docs* dist* examples*"
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        # flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics --exclude "scripts* eazy-photoz* astropy_helpers*"
    - name: Test with pytest
      run: |
        pytest --disable-warnings
